:root {
    --primary-text-color-grey: #757575;
    --primary-title-color-black: #212121;
    --primary-accent-color-blue: #2196F3;
    --secondary-accent-color-white: #FFFFFF;
    --secondary-background-color-grey: #2F303A;
}

/* general rules */
body {
    color: var(--primary-text-color);
    background-color: var(--secondary-accent-color-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.contacts {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.services-pic,
.team-pic,
.work-pic {
    display: block;
}

.site-nav,
.section-list,
.contacts,
.portfolio,
.filter-list,
.works-list,
.contacts-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* header */

.header-studio {
    border: 1px solid #000000;
}

.header-portfolio {
    border: 1px solid #ECECEC;
}

.logo {
    color: var(--primary-accent-color-blue);
    font-size: 26px;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}

.logo-wrap.primary {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: var(--primary-accent-color-blue);
}

.site-nav {
display: flex;
margin-left: 93px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav.contacts {
margin-left: auto;
}

.nav-container .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* body */
.hero-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero-title,
.hero-button,
.works-title {
    letter-spacing: 0.06em;
}

.hero-title {
    font-weight: 900;
    color: var(--secondary-accent-color-white);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    font-family: inherit;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

.features-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    padding-top: 94px;
}

.features .section-list {
    display: flex;
}

.features .item:not(:last-child) {
   margin-right: 30px;
}

.features .item {
    min-width: 270px;
}

.features .list-title {
    margin: 0px;
padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase
}

.features .section-passage {
    font-size: 14px;
    line-height: 1.71;
    margin: 0px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.services-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    text-align: center;
}

.services .section-list {
    display: flex;
}

.services .item:not(:last-child) {
    margin-right: 30px;
}

.services .section-title {
    margin: 0px;
    margin-bottom: 50px;
}

.team .section-list {
    display: flex;
}

.team .list-item:not(:last-child) {
    margin-right: 30px;
}

.team-container {
width: 1200px;
   padding: 94px 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.team .section-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.team .team-pic {
    margin: 0;
    margin-bottom: 30px;
}

.team .list-title {
    margin: 0;
    margin-bottom: 10px;
}

.team .section-passage {
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
    padding-bottom: 30px;
}

.team {
    background-color: #F5F4FA;
}

.team .list-item {
    background-color: var(--secondary-accent-color-white);
    max-width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.footer-container {
    width: 1200px;
    padding: 60px 15px;
    margin-left: auto;
    margin-right: auto;
}

.site-nav .link {
    color: var(--primary-title-color-black);
    font-weight: 500;
    text-decoration: none;
}

.link.current {
    color: var(--primary-accent-color-blue);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-accent-color-blue);
}

.contacts .link {
    color: var(--primary-text-color-grey);
}

/* hero */

.hero {
    background-color: var(--secondary-background-color-grey);
}

.hero-button {
    color: var(--secondary-accent-color-white);
    background-color: var(--primary-accent-color-blue);
    cursor: pointer;
}

/* sections */

.section-title,
.list-title {
    color: var(--primary-title-color-black);
}

.section-passage {
    color: var(--primary-text-color-grey);
}


/* footer */
.physical-address {
    color: var(--secondary-accent-color-white);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contact-us {
    color: rgba(255, 255, 255, 60);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}


/* PORTFOLIO */

.nav-container {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.filter-container {
    width: 1200px;
        padding: 94px 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.filter-button {
    color: var(--primary-title-color-black);
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 21px;
    border: none;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--secondary-accent-color-white);
    background-color: var(--primary-accent-color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter .item:not(:last-child) {
    margin-right: 8px;
}

.portfolio.projects {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-card {
    border: 1px solid #eee;
    max-width: 370px;
}
.portfolio-card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.work-pic {
    padding-bottom: 20px;
}

.works-list {
    color: var(--primary-title-color-black);
    text-decoration: none;
}

.works-description {
    color: var(--primary-text-color-grey);
    margin: 0px;
    font-size: 16px;
    line-height: 1.85;
    padding-bottom: 20px;
}

.works-title .uppercase {
    text-transform: uppercase;
}

.filter-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-family: inherit;
}

.works-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0;
    padding-bottom: 4px;
}


.footer {
    background-color: var(--secondary-background-color-grey);
}

.logo-footer {
    color: var(--secondary-accent-color-white);
    font-size: 26px;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}

.logo-wrap.secondary {
    color: var(--secondary-accent-color-white);
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--primary-accent-color-blue);
}


.physical-address:hover,
.physical-address:focus {
    color: var(--primary-accent-color-blue);
}

.contact-us:hover,
.contact-us:focus {
    color: var(--primary-accent-color-blue);
}

.contacts-list {
    list-style: none;
}

.physical-address {
    color: var(--secondary-accent-color-white);
}

.contact-us {
    color: rgba(255, 255, 255, .6);
}